@media (max-width: 810px) {
    main{
      
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;

        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
        align-items: flex-start;
        justify-content: center;  
    }
    main section{
        max-width: 525px;

    }
     main section progress{
        width: 250px;
        margin-bottom: 30px;
    }
}