@import url(footerTelaGrande.css);
@import url(footerTelaPeq.css);
.logo{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    margin: 0%;
    width: 100%;
    border-top: 5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: black;
    color: whitesmoke;

 
}
footer p{
   margin: 0%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: larger;
   height: auto;

   border-radius: 10px;
   gap: 5px;
}

