
@media (min-width: 810px) {

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family:Arial, Helvetica, sans-serif;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: auto calc(100vh - 100px) auto;
    align-items: center;
    justify-items: center;
    font-family: 'pixelation',sans-serif;

}
}